

/* .icon:first-child {
    margin-left: 20px;
}
.icon:last-child{
    margin-right: 20px;
}
 */

.scroll-tars-container ul {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
