.awssld {
  z-index: 0;
  height: 50%;
  overflow: hidden;
}

.awssld__content {
  height:80%;
}

.awssld__next,
.awssld__prev {
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 50%;
}

.awssld__controls:hover .awssld__next,
.awssld__controls:hover .awssld__prev {
  opacity: 1;
}

@media (max-width: 767px) {
  .awssld {
    height: 50%;
  }
}
.awssld__container{
}