@tailwind base;
@tailwind components;
@tailwind utilities;

.defaultNav {
  @apply text-base font-medium font-sans rounded-xl py-2 px-3 hover:bg-[#0f0f0f68] hover:text-white overflow-hidden transition-all duration-300;
}
.activeNav {
  @apply text-base font-medium font-sans rounded-xl py-2 px-3 bg-[#131b1e89] text-white;
}
.regisLogin{
  @apply text-xl py-[6px] px-3 before:absolute before:block before:inset-0 before:-z-10 before:bg-[#0677b4] text-white after:block hover:after:w-full after:w-0 after:hover:left-0
   after:right-0 after:top-0 after:h-full after:-z-10 after:duration-300 after:bg-[#054161] after:absolute relative inline-block after:rounded-md before:rounded-md
}



/* modal Scroll style */
.myScroll:hover::-webkit-scrollbar-thumb {
  background-color:#016db0;
}

.myScroll::-webkit-scrollbar {
  width: 0.3rem;
}

.myScroll::-webkit-scrollbar-track {
  background-color: #e57777;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: #e57777;
  border-radius: 7rem;
}

/* .login_input{
  @apply 
} */


/* @apply text-base font-medium py-2 px-3 border-2 border-orange-500 hover:bg-orange-500 hover:text-white rounded-md transition-all duration-200 */